* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #202124;
    color: white;
}

.light {
    background-color: #ffffff;
    color: #333333;
}

.light h3{
    background-color: #ffffff;
    color: #333333;
    text-decoration: underline;
}

.light input,
.light textarea {
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #333333;
}

.light input::placeholder,
.light textarea::placeholder {
    color: #999999;
}

.light .navbar a {
    color: #333333;
}

.light .navbar a:hover {
    background-color: #e0e0e0;
}

.light .note-app__header h1 {
    color: #333333; 
}

.light .right button {
    color: #333333; 
    background-color: #ffffff; 
}

.light button.add-button {
    color: #333333; 
    background-color: #ffffff; 
}

.light .right button:hover {
    background-color: #e0e0e0; 
}

input,
textarea {
    padding: 12px;
    margin: 12px 0;
    font-family: "Inter", sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
    font-weight: bold;
}

.login-page {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.login-page h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.login-page p {
    color: white;
    text-align: center;
}

.login-page a {
    color: yellowgreen;
    text-decoration: none;
}
.login-page a:hover {
    color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}

.login-input {
    width: 300px;
    margin: 0 auto;
}

.login-input input[type="email"],
.login-input input[type="password"],
.login-input button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: transparent;
    color: white;
}

.login-input input[type="email"],
.login-input input[type="password"] {
    height: 40px;
}

.login-input button {
    cursor: pointer;
    background-color: yellowgreen;
    color: #333;
}

.login-input button:hover {
    font-weight: bold;
}

.logout span {
    margin-left: 2px; 
}

.register-page {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.register-page h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center; 
}

.register-page p {
    color: white;
    text-align: center; 
}

.register-page a {
    color: yellowgreen;
    text-decoration: none;
}
.register-page a:hover {
    color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}

.register-input {
    width: 300px;
    margin: 0 auto;
}

.register-input input[type="text"],
.register-input input[type="email"],
.register-input input[type="password"],
.register-input button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: transparent;
    color: white;
}

.register-input input[type="text"],
.register-input input[type="email"],
.register-input input[type="password"] {
    height: 40px;
}

.register-input button {
    cursor: pointer;
    background-color: yellowgreen;
    color: #333;
}

.register-input button:hover {
    font-weight: bold;
}

.note-app__body.light {
    background-color: #ffffff;
    color: #333333;
    height: 100vh;
}

.note-app__header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 4px 16px;
    border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
    margin: 0;
    color: white;
}

.note-app__body {
    max-width: 1000px;
    margin: 0px auto;
    padding: 12px;
    height: 100vh;
}

.note-app__body h2 {
    font-weight: normal;
    margin: 16px 0;
}

.note-input, .search-bar {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 48px;
    margin-top: 16px;
}

.note-input input,
.note-input textarea,
.search-bar {
    display: block;
    width: 100%;
}

.note-input__title {
    font-weight: bold;
}

.note-input__title__char-limit {
    font-size: 14px;
    text-align: right;
    color: #aaa;
}

.note-input__body {
    min-height: 175px;
}

.note-input button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

.note-input button:hover {
    font-weight: bold;
}

.notes-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 48px;
}

.notes-list__empty-message {
    text-align: center;
    color: #aaa;
}

.note-item {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.note-item__content {
    padding: 12px;
    flex: 1;
}

.note-item__title {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
}

.note-item__date {
    font-size: 12px;
    margin-bottom: 8px;
    color: #aaa;
}

.note-item__body {
    font-size: 14px;
}

.note-item__action {
    display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #aaa;
    padding: 8px 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.note-item__delete-button {
    border-right: 1px solid #aaa;
    color: #ff5f52;
}

.note-item__archive-button {
    color: yellowgreen;
}

.note-item__archive-button:hover {
    color: #c49000;
}

.note-item__delete-button:hover {
    color: #b00020;
}

.not-found {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
}

.navbar ul {
    list-style: none; 
    display: flex; 
    align-items: center;
}

.navbar .right {
    margin-left: 350px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.navbar a,
.navbar button {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    border: none; 
    background: none; 
    cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
    background-color: #555; 
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .note-search input {
        min-width: 400px;
    }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
